html, body{
	padding:0;
	margin:0;
}
.header{
	-webkit-app-region:drag;
	height:50px;
	width:100%;
	background-color:#AE7DCC;
}
.window-controls{
	position:absolute;
	right:0px;
	top:0px;
	display:flex;
	align-content:baseline;
}
.window-controls .mini, .maxi, .close{
	width:20px;
	height:20px;
	color:#fff;
	font-size:20px;
	text-align:center;
	padding:5px;
}	
